@model MovieApp.Models.Customer

@{
    ViewBag.Title = Model.FullName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.FullName</h2>

<ul>
    @if (Model.Birthdate.HasValue)
    {
        <li>Birthdate: @Model.Birthdate.Value.Date.ToString()</li>
    }
</ul>